<footer class="page-footer font-small white pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">

            <div class="col-md-12 py-5">
                    <div class="mb-5 flex-center">
                        <a href="https://www.facebook.com/qweertygamers" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/qweertygamers?lang=en" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-instagram"></a>     
                    </div>
            </div>
          </div>
        </div>
       
    
      </footer>