body {
    padding-top: 54px;
}

#slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

img {
    position: relative;
    width: 705px;
    float: left;
    list-style:none;
    width: 70%;
    height: auto;
    padding: 10%;
}

.d-block {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 600px;
}

.navbar-brand img {
    position: relative;
    width: 300px;
    left: 8px;
    max-height: 100px; /* height of the navbar */
    padding: 0;
}

.navbar {
    background-color: #A0A0A0;
}


#news {
    background-color: white;
}

.content-slider {
    width: 100%;
    height: 360px;
}

.slider {
    height: 320px;
    width: 680px;
    margin: 40px auto 0;
    overflow: visible;
    position: relative;
}

.mask {
    overflow: hidden;
    height: 320px;
}

.slider ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.slider li {
    width: 680px;
    height: 320px;
    position: absolute;
    top: -325px;
    list-style: none;
}

.slider .quote {
    font-size: 40px;
    font-style: italic;
}

.slider .source {
    font-size: 20px;
    text-align: right;
}

.slider li.anim {
    -moz-animation: cycle 15s linear infinite;
    -webkit-animation: cycle 15s linear infinite;
    animation: cycle 15s linear infinite;
}

@-moz-keyframes cycle {
    0% {
        top: 0px;
    }
    4% {
        top: 0px;
    }
    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    20% {
        top: 325px;
        opacity: 0;
        z-index: 0;
    }
    21% {
        top: -325px;
        opacity: 0;
        z-index: -1;
    }
    96% {
        top: -325px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

