<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body style="background-color:	#303030;">
        <% include ./partials/navbar.ejs %>

        <main class="container">
            <img src="./assets/css/qg_lp.png" />
        </main>

        <% include ./partials/baseScripts.ejs %>

    </body>

</html>