<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>

    <body style="background-color:	#303030;">
        <% include ./partials/navbar.ejs %>
        <div id="slider">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="css/qg_lp.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="css/qg_lp2.png" alt="Second slide">
                        </div>
                    </div>
                    </div>
        </div>

    <div id="news">
        <h2>Today's LGBT News</h2>
        <div class="content-slider">
            <div class="slider">
                <div class="mask">
                    <% for(i of response.articles) { %>
                         <ul>
                            <li class="anim">
                             <div class="quote"><%= i.title %></div>
                             <div class="source"><%= i.source.name %></div>
                            </li>
                         </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
        
        <% include ./partials/baseScripts.ejs %>

    </body>

</html>